<style>

.miau h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}
</style>

<div class="miau">
<h1><%= link_to contest.name, "/show_contests/" + contest.id.to_s %>
<%= contest.lat %>
<%= contest.long %>
<%= User.find(contest.user_id).name %></h1>
</div>
