<style>
 #footer {
      background-color:black;
      color:white;
      clear:both;
      text-align:center;
      padding:5px; 
      font-family: helvetica;
  }
  
  #nav2 {
      line-height:30px;
      background-color:#000000;
      height:300px;
      width:100px;
      float:left;
      font-family: helvetica;
      padding:5px; 
  }
</style>
<div id="footer">
  <small>
   	Webdev 2015 App
  </small>
<!--   <div id="nav2">
      <%= link_to "About",   about_path %>
      <%= link_to "Contact", contact_path %>
  </div> -->
</div>

